<tr>
  <td><%= @stt +=1 %></td>
  <td><%= booking.name %></td>
  <td><%= booking.phone %></td>
  <td>
  <%= link_to t("approved"), admin_approve_path(booking.tour, booking), method: :patch %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to t("canceled"), admin_cancel_path(booking.tour, booking), method: :patch %>
  </td>
  <td>
    <% if booking.status == "canceled" %>
      <div class="label label-danger"><%= t "canceled" %></div>
    <% elsif booking.status == "in_progress" %>
      <div class="label label-warning"><%= t "in_progress" %></div>
    <% else %>
      <div class="label label-success"><%= t "approved" %></div>
    <% end %>
  </td>
</tr>
