<% provide :title, t(".title") %>

<h2><%= t ".title" %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="devise-field">
    <%= f.label t("yourname") %><sub id="star"> * </sub>
    <%= f.text_field :full_name, placeholder: t("yourname") %>
  </div>

  <div class="devise-field">
    <%= f.label t("email") %><sub id="star"> * </sub>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t("email") %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t ".unconfirmed_email" %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="devise-field">
    <%= t ".password_info" %>
    <%= f.label t("password") %><sub id="star" title= "<%= @minimum_password_length %> characters minimum"> * </sub>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: t(".new") %>
  </div>

  <div class="devise-field">
    <%= f.label t("confirm_password") %><sub id="star"> * </sub>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t(".confirm") %>
  </div>

  <div class="devise-field">
    <%= t ".cur_pass_info" %>
    <%= f.label t("password") %><sub id="star"> * </sub>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: t(".current") %>
  </div>

  <div class="actions">
    <%= f.submit t(".submit"), class: "submit" %>
  </div>
<% end %>

<p><%= button_to t(".button"), registration_path(resource_name), data: { confirm: t("are_you_sure") }, method: :delete, class: "submit" %></p>

<center><%= link_to t(".back"), :back %></center>
