<% provide :title, t("profile.title") %>

<% if can? :update, current_user %>
  <%= link_to edit_user_registration_path do %>
    <button class="btn btn-primary btn-edit">
    <i class="fa fa-pencil"></i> Chỉnh sửa </button>
  <% end %>
<% end %>
<h2> <%= t "profile.title" %></h2>
<% if current_user.image.present? %>
  <%= link_to image_tag(current_user.image, class: "avatar-img") %>
<% else %>
  <%= link_to image_tag("default-avatar.png", class: "avatar-img") %>
<% end %>
<ul>
  <li> <b> <%= t "profile.name" %> : </b> <%= @user.full_name %> </li>
  <li> <b> <%= t "profile.email" %> : </b> <%= @user.email %> </li>
  <li> <b> <%= t "profile.gender" %> : </b> <%= @user.gender ? t("gender.male") : t("gender.female") %> </li>
  <li> <b> <%= t "profile.reviews" %> : </b> 10 </li>
</ul>
