<%= form_for [@tour, @tour.ratings.build] do |f| %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= render "shared/error_messages", object: f.object %>
  <div id="rating-form">
    <%= f.label :rating %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<script>
  $("#rating-form").raty({
    path: "/assets",
    scoreName: "rating[rating_value]"
  });
</script>
